@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}


.bar {
    position: absolute;
    bottom: 1px;
    width: 3px;
    height: 3px;
}